# numpy pandas matplotlib.pyplot

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
file_name = 'example_excel/children.xlsx'
df = pd.read_excel(file_name)

In [3]:
# pd.set_option('display.max_rows', None, 'display.max_columns',None)

In [4]:
df.head(5)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,test,age
0,编号,性别,月龄,"体重,kg","身高,cm","坐高,cm","胸围,cm","头围,cm",左眼视力,右眼视力,检验,年龄
1,NaN,1=男，2=女,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1=阳性，2=阴性,NaN
2,1,1,65,18,110.6,61.2,55,48,0.8,0.8,1,6
3,2,1,60,15.3,103.2,58.5,50,45.8,0.6,0.6,2,5
4,3,1,70,20.6,112.5,64.5,55,50,0.6,0.6,2,6

删除前两行，重新索引

In [5]:
# 读取第一行到列表中 title = []
title = df.loc[0].values
title

array(['编号', '性别', '月龄', '体重,kg', '身高,cm', '坐高,cm', '胸围,cm', '头围,cm',
       '左眼视力', '右眼视力', '检验', '年龄'], dtype=object)

In [6]:
df2 = df[2:].reset_index(drop=True)

In [7]:
# df2.columns=['编号','性别','月龄','体重','身高','坐高','胸围','头围','左眼视力','右眼视力','检验','年龄']

df2.columns=title

In [8]:
df2

    编号 性别  月龄 体重,kg  身高,cm 坐高,cm 胸围,cm 头围,cm 左眼视力 右眼视力 检验 年龄
0    1  1  65    18  110.6  61.2    55    48  0.8  0.8  1  6
1    2  1  60  15.3  103.2  58.5    50  45.8  0.6  0.6  2  5
2    3  1  70  20.6  112.5  64.5    55    50  0.6  0.6  2  6
3    4  2  71  16.3  106.8  59.6    50    49  1.2  1.2  2  6
4    5  2  73  19.1  109.7    64    56  51.5  1.5  1.5  1  7
..  .. ..  ..   ...    ...   ...   ...   ...  ...  ... .. ..
91  92  1  76  21.3  119.1  65.8  56.5  48.5  1.5  0.4  1  7
92  93  1  77  25.6  120.8    66    62    52  1.2  1.2  2  7
93  94  2  76  21.5  119.9    67    51  49.5  0.8  0.8  1  7
94  95  2  80  17.9  113.8  62.3  52.5    47  1.2  1.2  2  7
95  96  2  54  16.1    102  58.6    53    50  1.2  1.2  1  5

[96 rows x 12 columns]

将性别数字替换为男女

In [13]:
df2.loc[df2['性别']==1,'性别']='男'
df2.loc[df2['性别']==2,'性别']='女'
df2

    编号 性别  月龄 体重,kg  身高,cm 坐高,cm 胸围,cm 头围,cm 左眼视力 右眼视力 检验 年龄 label
0    1  男  65    18  110.6  61.2    55    48  0.8  0.8  1  6     女
1    2  男  60  15.3  103.2  58.5    50  45.8  0.6  0.6  2  5     女
2    3  男  70  20.6  112.5  64.5    55    50  0.6  0.6  2  6     女
3    4  女  71  16.3  106.8  59.6    50    49  1.2  1.2  2  6   NaN
4    5  女  73  19.1  109.7    64    56  51.5  1.5  1.5  1  7   NaN
..  .. ..  ..   ...    ...   ...   ...   ...  ...  ... .. ..   ...
91  92  男  76  21.3  119.1  65.8  56.5  48.5  1.5  0.4  1  7     女
92  93  男  77  25.6  120.8    66    62    52  1.2  1.2  2  7     女
93  94  女  76  21.5  119.9    67    51  49.5  0.8  0.8  1  7   NaN
94  95  女  80  17.9  113.8  62.3  52.5    47  1.2  1.2  2  7   NaN
95  96  女  54  16.1    102  58.6    53    50  1.2  1.2  1  5   NaN

[96 rows x 13 columns]